body {
  font-family: 'NimbusSanL';
  background-color: #eee;
  margin: 0;
}

.container {
  margin-bottom: 10%;
  padding: 0 5%;
}

.pagination {
  margin: 16px 0;
  background-color: #eee;
  list-style-type: none;
}

.text {
  font-size: 14px;
  color: #999;
}

.col-md-8,
.col-md-6,
.col-md-4,
.col-md-3 {
  padding: 16px;
}
