body {
  background-color: #eee;
  margin: 0;
}

.container {
  /* margin: 0 5%; */
  margin-bottom: 10%;
}

.pagination {
  margin: 16px 6%;
  background-color: #eee;
  padding: 16px 0;
  content: ">";
}

ol {
  list-style-type: none;
}

ol li {
  font-size: 14px;
  display: inline;
}
