  <ol class="pagination">
    <li>Celulares</li>
       <span> > </span>
    <li>Celulares y Smartphones</li>
  </ol>

  <div class="mesh-col-12">
  <!-- <div class="container">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="col-md-3">
            <img src="assets/Logo_ML@2x.png.png" class="item-img" alt="">
          </div>
          <div class="col-md-6">
            <h3 class="price"><b>$ 100</b> <span><img src="assets/ic_shipping.png" alt=""></span></h3>
            <p class="item-name">Celular Apple Iphone 5s 32GB Blanco</p>
          </div>
          <div class="col-md-3">
            <span class="address">Córdoba</span>
          </div>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="row items" *ngIf="items">
    <div class="col-md-3">
      <img src="assets/Logo_ML@2x.png.png" class="item-img">
    </div>
    <div class="col-md-6">
      <h3 class="price">
        <b>{{ items.results._price }}</b>
        <img class="ship-icon" src="assets/ic_shipping.png" alt="">
      </h3>
      <p class="item-name">{{ items.query }}</p>
    </div>
    <div class="col-md-3">
        <span class="address">{{ items.site_id }}</span>
    </div>
  </div>
</div>
