.row {
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.items {
  padding: 32px;
  border-radius: 4px;
}

.item-title {
  font-size: 24px;
  margin-top: 16px;
}

.price {
  font-size: 46px;
  margin: 32px 0;
  position: relative;
}

.description-title {
  font-size: 28px;
  margin-top: 64px;
}

.description-text {
  font-size: 16px;
  margin-top: 32px;
  color: #999;
}

img {
  width: 680px;
  border-radius: 4px;
}

.btn {
  color: #fff;
  background-color: #3483fa;
  padding: 7px 75px;
  font-size: 16px;
  margin-bottom: 32px;
}

#item-condition {
  color: #333;
}
