<div class="container" *ngIf="item">

<ol class="pagination">
  <li>{{ item.category_id }}</li>
     <span> > </span>
  <li>{{ item.category_id[0].name }}</li>
</ol>

  <div class="row items">

    <div class="col-md-8">
      <img [src]="item.pictures[0].url" alt="{{item.title}}">
      <h4 class="description-title">Descripción del producto</h4>
      <p class="description-text">{{ item.descriptions[0].id }}</p>
      <!-- <p class="description-text">{{ item.description.plain_text }}</p> -->

    </div>

    <div class="col-md-4">
      <small>{{ item.condition | uppercase }} - {{ item.sold_quantity }} vendidos</small>
      <h4 class="item-title">{{item.title}}</h4>
      <h1 class="price">{{item.price | currency }}</h1>
          <button (click)="buyProduct(item.id)" class="btn btn-lg btn-primary" role="button">Comprar</button>
    </div>

  </div>
</div>
